//- Facebook
meta(property='og:title' content=ogTitle)
meta(property='og:type' content=ogType)
meta(property='og:site_name' content=ogSiteName)
meta(property='og:description' content=ogDescription)
meta(property='og:url' content=ogUrl)
meta(property='og:locale' content=ogLocale)
meta(property="og:image" content=ogImage)
